﻿@model WebMVC.ViewModels.CatalogItem

<form asp-controller="Cart" asp-action="AddToCart">
    <img class="" src="~/img/no-image.jpg" style="width:auto;height:150px;" />
    <div class="">
        <span>ชื่อ : @Model.car_name</span>
    </div>
    <div class="">
        <span>ราคา : @String.Format("{0:###,##0.00}", Model.car_price_sell) บาท</span>
    </div>
    <input type="hidden" asp-for="@Model.car_key" name="id" />
</form>
