﻿@{
    ViewData["Title"] = "Catalog";
    @model WebMVC.ViewModels.CatalogViewModels.IndexViewModel

}
<section class="">
    <div class="container">
        <form asp-action="Index" asp-controller="Catalog" method="post">
            <label asp-for="Brands" class="control-label"></label>
            <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class=""></select>
            
            <label asp-for="Gens" class="control-label"></label>
            <select asp-for="@Model.GensFilterApplied" asp-items="@Model.Gens" class=""></select>

            <label asp-for="Colors" class="control-label"></label>
            <select asp-for="@Model.ColorsFilterApplied" asp-items="@Model.Colors" class=""></select>

            <input class="" type="submit" value="GO" />
        </form>
    </div>
</section>
<div class="container">

    @if (Model.CatalogItems.Count() > 0)
    {
        @await Html.PartialAsync("_pagination", Model.PaginationInfo)

        <div class="row" style="border-top:1px solid #000;border-bottom:1px solid #000">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_product", catalogItem)
                </div>
            }
        </div>

        @await Html.PartialAsync("_pagination", Model.PaginationInfo)
    }
    else
    {
        <div class="row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">

        $("#BrandFilterApplied").change(function () {
            $list = $("#GensFilterApplied");
            var url = '@Url.Action("getCarGens", "Catalog")';
            var data = { brand_key:$(this).val() };
            $.getJSON(url, data, function (result) {
                $list.empty();
                $.each(result, function (i, item) {
                    $list.append('<option value="' + item.value + '"> ' + item.text + ' </option>');
                });
            });
        });
    </script>
    
}

